@import 'workspace'
// elements
@import 'workspace__wrapper'
@import 'workspace__title-input-holder'
@import 'workspace__title-input'
@import 'workspace__content-container'
@import 'workspace__sidebar'
@import 'workspace__content'
// modifiers
@import 'workspace_type_preview'
@import 'workspace__title-input-holder_state_active'
@import 'workspace__title-input-holder_state_error'
