@import 'workspace'
// elements
@import 'workspace__wrapper'
@import 'workspace__title-input-holder'
@import 'workspace__title-input'
@import 'workspace__content-container'
@import 'workspace__sidebar'
@import 'workspace__content'
@import 'workspace__title-input-highlighter'
// modifiers
@import 'workspace__title-input-holder_state_error'
