@import 'workspace'
// elements
@import 'workspace__wrapper'
@import 'workspace__title-container'
@import 'workspace__content-container'
@import 'workspace__sidebar'
@import 'workspace__content'
// modifiers
