:local
    .workspace__titleInput
        border: 1px dashed #ccc
        padding: 15px 20px
        font-size: 24px
        width: 100%
        outline: none
        box-sizing: border-box
        background: none
        color: #333
