:local
    .sidebar__plusBtn
        display: inline-block
        vertical-align: middle
        height: 34px
        background: #5cb85c
        border-radius: 4px
        padding: 0 11px
        color: #fff
        font-size: 22px
        font-weight: bold
        line-height: 34px
        cursor: pointer
        border: 1px solid #4cae4c
        box-sizing: border-box
        opacity: .6
        transition: opacity .1s

        &:hover
            opacity: 1

        &:active
            box-shadow: inset 0 3px 5px rgba(0,0,0,.125)
            line-height: 36px
