:local
    .grid
        display: flex
        width: calc(100% + 10px)
        margin: -5px
        align-items: stretch
        flex-wrap: wrap

        @media only screen and (min-width: 768px)
            flex-wrap: nowrap
