:local
    .grid__item_width
        width: 100%

    .grid__item_width_oneHalf
        width: 50%

    .grid__item_width_oneThird
        width: 33.33%

    .grid__item_width_oneFourth
        width: 25%
