_bar-height = 36px

@import 'preset-bar'
// elements
@import 'preset-bar__container'
@import 'preset-bar__clickable-layer'
@import 'preset-bar__button'
@import 'preset-bar__button-ico'
// modifiers
@import 'preset-bar__button_type_right'
@import 'preset-bar_state_error'
@import 'preset-bar_state_active'
