:local
    .presetBar__container
        display: flex
        position: absolute
        height: _bar-height
        left: 0
        top: 0
        right: 0
        background: #373737
        opacity: 0
