:local
    .presetBar_state_error
        &:before
            content: ''
            border-color: red
            box-shadow: 0 0 2px 0 rgba(255, 0, 0, .8) inset

        &:hover
            &:before
                border-color: #373737
                box-shadow: none
