:local
    .presetBar
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0

        &:before
            position: absolute
            top: 0
            left: 0
            bottom: 0
            right: 0
            border: 2px solid #373737
            opacity: .6
            pointer-events: none

        &:hover
            &:before
                content: ''

            .presetBar__container
                opacity: .9
