:local
    .presetBar__button
        display: flex
        height: _bar-height
        width: _bar-height
        cursor: pointer

        &:hover
            .presetBar__buttonIco
                opacity: .9
