:local
    .editor__previewExitBtnText
        font-size: 15px
        position: relative
        padding: 3px 0
        display: inline-block
        vertical-align: middle

        &:after
            content: ''
            position: absolute
            bottom: 0
            left: 0
            right: 0
            border: 1px dashed #333