_bar-height = 60px
_workspace-width = 70%
_animation-duration = .3s

@import 'editor'
// elements
@import 'editor__workspace-container'
@import 'editor__pane-container'
@import 'editor__bar-container'
@import 'editor__preview-exit-btn'
@import 'editor__preview-exit-btn-text'
@import 'editor__preview-exit- btn-ico'
// modifiers
@import 'editor__bar-container_position_bottom'
