_bar-height = 60px
_pane-width = 30%

@import 'editor'
// elements
@import 'editor__workspace-container'
@import 'editor__pane-container'
@import 'editor__bar-container'
// modifiers
@import 'editor__bar-container_position_bottom'
