@import 'preview'
// elements
@import 'preview__container'
@import 'preview__title'
@import 'preview__content-container'
@import 'preview__sidebar'
@import 'preview__content'
@import 'preview__menu-container'
@import 'preview__grid-container'
// modifiers
@import 'preview__sidebar_type_visible'
@import 'preview__container_type_tablet'
@import 'preview__container_type_smartphone'
