_bar-height = 55px
_workspace-width = 70%

.root
    position: absolute
    top: _bar-height
    bottom: 0
    left: 0
    right: 0

// elements
.barContainer
    position: fixed
    top: 0
    left: 0
    right: 0
    height: _bar-height
    z-index: 1

.workspaceContainer
    position: absolute
    left: 0
    top: 0
    bottom: 0
    width: _workspace-width

.paneContainer
    position: absolute
    right: 0
    top: 0
    bottom: 0
    left: _workspace-width

// modifiers
