:local
    .imageEdit__link
        font-size: 13px
        line-height: 15px
        color: #5e8fd5
        text-decoration: underline
        cursor: pointer
        user-select: none

        &:hover
            text-decoration: none
