:local
    .pane__btn
        display: inline-block
        vertical-align: middle
        height: 34px
        background: dimgrey
        border-radius: 4px
        padding: 0 20px
        color: #fff
        font-size: 13px
        line-height: 34px
        cursor: pointer

        &:hover
            opacity: .9
