.root
    height: 100%

// elements
.container
    min-width: 1000px
    max-width: 1240px
    padding: 20px
    margin: 0 auto
    box-sizing: border-box

.title
    padding: 15px 0
    font-size: 24px
    font-weight: 400
    line-height: 130%

.contentContainer
    display: flex
    padding: 15px 0

.sidebar
    display: none
    width: 25%
    padding-right: 20px

.content
    //

.menuContainer
    &:not(:first-child)
        margin-top: 40px

.gridContainer
    width: 100%
    &:not(:first-child)
        margin-top: 5px

// modifiers
.container_type_tablet
    min-width: 768px
    max-width: 768px

.container_type_smartphone
    min-width: 320px
    max-width: 320px

.sidebar_type_visible
    display: block
