.root
    //

// elements
.titleContainer
    margin-bottom: 30px

.item
    display: flex

    & + &
        margin-top: 25px
        padding-top: 25px
        border-top: 1px solid #eee

.inputHolder
    flex-grow: 1

.inputWrapper
    & + &
        margin-top: 5px

.delBtnHolder
    margin-top: 3px
    margin-left: 5px

.delBtn
    fill: #333
    margin-left: 5px
    cursor: pointer

    &:hover
        fill: #f55832

// modifiers
