.root
    display: table
    width: 100%
    table-layout: fixed

// elements
.input
    display: none

.imgContainer
    display: table-cell
    vertical-align: top
    width: 25%
    font-size: 0
    cursor: pointer

.textContainer
    display: table-cell
    vertical-align: middle
    padding-left: 15px

.title
    font-size: 15px
    color: #555
    margin-bottom: 10px

.link
    font-size: 13px
    line-height: 15px
    color: #5e8fd5
    text-decoration: underline
    cursor: pointer
    user-select: none

    &:hover
        text-decoration: none

// modifiers
