:local
    .content__barButton
        display: inline-block
        vertical-align: top
        height: 100%
        text-align: center
        width: 46px
        cursor: pointer

        &:before
            content: ''
            display: inline-block
            vertical-align: middle
            height: 100%

        &:hover
            .content__barButtonIco
                opacity: .9
