.root
    display: flex
    width: calc(100% + 10px)
    margin: -5px
    align-items: stretch
    flex-wrap: wrap

    @media only screen and (min-width: 768px)
        flex-wrap: nowrap

// elements
.column
    display: flex
    flex-direction: column
    flex-basis: 50%
    align-items: stretch

.row
    display: flex
    flex-basis: 50%
    align-items: stretch

.item
    display: flex
    flex-basis: 100%
    padding: 5px
    box-sizing: border-box

// modifiers
.root_type_smartphonePreview
    flex-wrap: wrap

    .column + .column_size_big
        order: 1

.column_size_big
    flex-basis: 100%

    .column + &
        order: 1

    @media only screen and (min-width: 768px)
        .column + &
            order: initial
