.root
    display: flex
    width: calc(100% + 10px)
    margin: -5px
    align-items: stretch

// elements
.column
    display: flex
    min-width: 0
    flex-direction: column
    flex-basis: 50%
    align-items: stretch

.row
    display: flex
    flex-basis: 50%
    align-items: stretch

.item
    display: flex
    min-height: 0
    flex-basis: 100%
    padding: 5px
    box-sizing: border-box

// modifiers
.column_size_big
    flex-basis: 100%

.root_type_smartphonePreview
    flex-wrap: wrap

    .column + .column_size_big
        order: 1
