:local
    .imageHolder
        height: 100%
        box-sizing: border-box
        border: 1px dashed #ccc
        border-radius: 8px
        text-align: center
        font-size: 0

        &:before
            content: ''
            display: inline-block
            vertical-align: middle
            height: 100%
