:local
    .textbox
        border: none
        outline: none
        border-bottom: 2px solid #ccc
        padding: 3px 5px
        font-size: 15px
        color: #999
        width: 100%
        box-sizing: border-box

        &:focus
            color: #333
            border-color: #52bad5
